.container-home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: rgb(247, 211, 8);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.box2 {
  width: 300px;
  height: 60px;
  background-color: rgb(253, 129, 13);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;

}
.box3 {
  width: 310px;
  height: 110px;
  background-color: rgba(12, 163, 233, 0.788);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
}
.box4 {
  width: 300px;
  height: 75px;
  background-color: rgba(230, 33, 164, 0.788);
  border-radius: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
}
.perro{
  font-size: 60px;
  font-weight: 200;
}
.sl{
  width: 300px;
   height: 45px;
    border-radius: 78px;
}
.imageclass{
  
}